%h1 Listing marks

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @marks.each do |mark|
      %tr
        %td= link_to 'Show', mark
        %td= link_to 'Edit', edit_mark_path(mark)
        %td= link_to 'Destroy', mark, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mark', new_mark_path
