%h1 Список студентов

%table
  %thead
    %tr
      %th Фамилия
      %th Имя
      %th Отчество
      %th Дата рождения

  %tbody
    - @students.each do |student|
      %tr
        %td= link_to 'Показать', student
        %td= link_to 'Редактировать', edit_student_path(student)
        %td= link_to 'Удалить', student, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Новый студент', new_student_path
