%p#notice= notice

%p
  %b Фамилия:
  =link_to @student.last_name

%p
  %b Имя:
  =link_to @student.first_name

%p
  %b Отчество:
  =link_to @student.second_name

%p
  %b Дата рождения:
  =link_to @student.b_date

%p
  %b Номер учебной группы:
  =link_to @student.groups

= link_to 'Редактировать', edit_student_path(@student)
\|
= link_to 'Назад', students_path
