%p#notice= notice

%p
  %b Название:
  = @talk.title


= link_to edit_talk_path(@talk), class: "btn btn-warning" do
  =fa_icon "pencil"
  Редактировать
\|
= link_to talks_path, class: "btn btn-primary" do
  =fa_icon "reply"
  Вернуться назад

