%h1 Listing afiles

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @afiles.each do |afile|
      %tr
        %td= link_to 'Show', afile
        %td= link_to 'Edit', edit_afile_path(afile)
        %td= link_to 'Destroy', afile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Afile', new_afile_path
