%h1 Список предметов

%table
  %thead
    %tr
      %th Название
      %th Тип
      %th Вид отчетности

  %tbody
    - @subjects.each do |subject|
      %tr
        %td= link_to 'Показать', subject
        %td= link_to 'Редактировать', edit_subject_path(subject)
        %td= link_to 'Удалить', subject, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Новый предмет', new_subject_path
